<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
	<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/starter.css" rel="stylesheet">
	<script src="static/js/xml.js"></script>

</head>

  <body onload="checkload()">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/xmlcheck">项目</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li><a href="/xmlrefer">配置表替换TID</a></li>
				<li><a href="/xmldiff">配置表提交记录</a></li>
				<li class="active"><a href="/xmlcheck">文件提交记录</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
	</nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
            <h1>未提交的文件变更</h1>
            <br/>
          
            <ul class="nav nav-pills" role="tablist">
                    {% for name in file_namelist %}
                        <li role="presentation" class="active">
                        <form id="{{name}}" action="/xmldiff" method="get" onsubmit="setpara(this.id)">
                            <input id="selected_file" style="display:none" type="text" name="selected_file" value="{{name}}" />
                            <input type="submit" value={{name}}  title="input"/>
                        </form>
                        </li>
                    {% endfor %}
            </ul>
            <br>
            <ul class="nav nav-pills" role="tablist">
                    {% for file_name,sheet_name in sheet_namelist %}
                        <li role="presentation" class="active">
                        <form id="{{sheet_name}}" action="/xmldiff" method="get" onsubmit="setpara(this.id)">
                            <input id="selected2_file" style="display:none" type="text" name="selected_file" value="{{file_name}}" />
                            <input id="selected_sheet" style="display:none" type="text" name="selected_sheet" value="{{sheet_name}}" />
                            <input type="submit" value={{sheet_name}} title="input"/>
                        </form>
                        </li>
                    {% endfor %}
            </ul>
            <br>
         </div>

      <div class="col-xs-12">
            <ul class="nav">           
                {% for diff in other_diff %}
                    <pre>{{ diff }}</pre>
                {% endfor %}
            </ul>
 
           <ul class="nav">
                <table class="table table-hover table-bordered">
                {% for row in maped_diff %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                {% endfor %}
                </table>
           </ul>

       </div>
     </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/js/treeview.js"></script>

</body></html>
