<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
	<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/css/starter.css" rel="stylesheet">

</head>

  <body onload="checkload()">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/xmlfile">项目</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li><a href="/xmlrefer">配置表替换TID</a></li>
				<li><a href="/xmldiff">配置表提交记录</a></li>
				<li  class="active"><a href="/xmlfile">文件提交记录</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
	</nav>

    <div class="container-fluid">
      <div class="row">
       <div class="sidebar col-xs-12">
            <br/>
             <ul class="nav nav-pills" role="tablist">

                <form action="/xmlfile" method="get">
                     分支：<select id="branch_name" name="branch_name">

                        {% for branch in branch_list %}

                        <option id={{branch}} value={{branch}} title="option">{{branch}}</option>

                        {% endfor %}
                    </select>

                    <input style="display:none" type="text" name="upgrade_info" value="pullchange" />

                    <input type="submit" value="Switch Branch" />
                </form> 

                <br/>
                <form action="/xmlfile" method="get"> 
                   请输入文件名： <input type="text" id="text_input" placeholder="例如：audio.xml" onkeyup="showfilename(this.value)" />
                </form>

                <br/>
                    
                <select id="file_name" name="file_name" style="display:none" > </select>


                <form action="/xmlfile" id="file" onsubmit="setpara(this.id)"> 
                    <input id="filebranch_name" style="display:none" type="text" name="branch_name" />
                    <input id="filefile_name" style="display:none" type="text" name="file_name" />
 
				    <li style="display:none" id="no_matchfile">无匹配的文件</a></li>

                    <br/>

                    <input style="display:none" id="submit_name" type="submit" value="Choose File" />
                    

                </form>

                <br/>

                <h3 style="display:none" id="chosen_file"></h3>

                <br/>
                <form style="display:none" id="hash" action="/xmlfile" method="get" onsubmit="setpara(this.id)">

                    <input id="hashbranch_name" style="display:none" type="text" name="branch_name" />
                    <input id="hashfile_name" style="display:none" type="text" name="file_name" />
                    提交记录:
                    <select id="selected_hash" name="selected_hash">
                        {% for hash,message in hash_info %}

                            <option id="{{hash}}" value="{{hash}}" title="option">{{message}}</option>

                        {% endfor %}
                    </select>

                    <input type="submit" value="Submit" />
                </form> 
                    
            </ul>
            <br/>        
            <ul style="display:none" class="nav" id="author">
                    <li><pre>{{ author }}</pre></li> 
            </ul>
            <br/>        
       </div>

       <div class="col-xs-12">
            <ul class="nav nav-pills" role="tablist">
                    {% for name in file_namelist %}
                        <li role="presentation" class="active">
                        <form id="{{name}}" action="/xmlfile" method="get" onsubmit="setpara(this.id)">
                            <input id="{{name}}branch_name" style="display:none" type="text" name="branch_name" />
                            <input id="{{name}}file_name" style="display:none" type="text" name="file_name" />
                            <input id="{{name}}selected_hash" style="display:none" type="text" name="selected_hash" />
                            <input style="display:none" type="text" name="selected_file" value="{{name}}" />
                            <input id="selected_file" type="submit" value={{name}} title="input"/>
                        </form>
                        </li>
                    {% endfor %}
            </ul>
            <br>
            <ul class="nav nav-pills" role="tablist">
                    {% for file_name,sheet_name in sheet_namelist %}
                        <li role="presentation" class="active">
                        <form id="{{sheet_name}}" action="/xmlfile" method="get" onsubmit="setpara(this.id)">
                            <input id="{{sheet_name}}branch_name" style="display:none" type="text" name="branch_name" />
                            <input id="{{sheet_name}}file_name" style="display:none" type="text" name="file_name" />
                            <input id="{{sheet_name}}selected_hash" style="display:none" type="text" name="selected_hash" />
                            <input style="display:none" type="text" name="selected_file" value="{{file_name}}" />
                            <input style="display:none" type="text" name="selected_sheet" value="{{sheet_name}}" />
                            <input id="selected_sheet" type="submit" value={{sheet_name}} title="input"/>
                        </form>
                        </li>
                    {% endfor %}
            </ul>
            <br>
       </div>

       <div class="col-xs-12">
            <ul class="nav">           
                {% for diff in other_diff %}
                    <pre>{{ diff }}</pre>
                {% endfor %}
            </ul>
            <ul class="nav">
                <table class="table table-hover table-bordered">
                {% for row in maped_diff %}
                        <tr>
                            {% for cell in row %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                {% endfor %}
                </table>
            </ul>

       </div>
 

     </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="static/js/xml.js"></script>
   	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<!--script src="static/js/treeview.js"></script>

</body></html>
